@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #141414;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(251, 132, 28, 0.3);
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(251, 132, 28, 0.5);
}

.orange-glow {
    text-shadow: 0 0 20px rgba(251, 132, 28, 0.5);
}

/* Custom Static Grid for Hero - Adjusted size and color to match reference crop */
.bg-custom-grid {
    background-size: 60px 60px;
    background-image: linear-gradient(to right, rgba(251, 132, 28, 0.25) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(251, 132, 28, 0.25) 1px, transparent 1px);
}

/* Remove hardware acceleration hacks that might cause layer explosion */